body {
    font-family: sans-serif;
    overflow-y: none;

   }

th {
    background-color: #A9A9A9;

        }

        tr {
    font-weight:bold;
        }

table {
     position: absolute; width:  70%;

        }

 h1 {
    background-color: red;
        }

iframe {
        position: absolute; width: 945px; top: 1300px;
        }
